@tailwind base;
@tailwind components;
@tailwind utilities;

.hexagon {
    width: 450px;
    height: 550px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background: linear-gradient(rgb(255, 217, 0), rgba(255, 217, 0, 0));
    position: relative;
    border-radius: 16px;
}
